.section-background{
    background: #FEEAE9;
}
       
.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 9px 25px;
    border: none;
    color: white;            
    border-radius: 8px;
  }

  .btn-grad:hover {
    color: #fff;
  }
